*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-blue: #1b1b32;
  --input-blue: #0a0a23;
  --white: whitesmoke;
  --light-blue: #3b3b4f;
  --orange: #feac32;
}

body {
  background-color: var(--bg-blue);
  color: var(--white);
  font-family: helvetica;
}

main {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  padding: 15px;
  border: 3px solid white;
  padding: 30px 0;
}

.number-input,
.convert-btn {
  width: 80%;
  min-height: 4rem;
}

label {
  font-weight: bold;
  font-size: 1.3rem;
}

.number-input {
  padding: 6px;
  font-size: 2rem;
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--input-blue);
  line-height: 2rem;
  font-weight: 300;
}

.convert-btn {
  background-color: var(--orange);
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 4px;
  line-height: 1.5rem;
}

.output {
  border: 3px solid var(--white);
  width: 100%;
  background-color: var(--light-blue);
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.hidden {
  display: none;
}

.error {
  background-color: #ffadad;
  border-color: #850000;
  color: #850000;
}

@media only screen and (max-width: 600px) {
  main {
    width: 400px;
    gap: 20px;
  }
  h1 {
    margin-top: 20px;
  }
  .output {
    padding: 5px;
  }
}